.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: white;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color:#282c34 ;
  
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}



.navbar {
  background-color: #990a08;
  padding: 0px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell,
   'Open Sans', 'Helvetica Neue', sans-serif;
   
  color:white;
  font-size: x-large;

}

.navbar ul{
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.navbar ul#login{
  display: flex;
  position: absolute;
  top:0;
  right:0;
  font-size: large;

}

.navbar li {
  display: inline-block;
}

.navbar li:hover{
  background-color: #282c34;
}

.navbar li:last-child {
  margin-right: 0;
}

.navbar li a {
  display:block;
  padding:20px 30px;
  text-align: center;
  text-decoration: none;
  color: white;
  font-weight: bold;
}



.admin-nav-card {
  padding: 20px;
  width: 600px;
  margin: auto;
  display: flex;
  justify-content: center;
}

.admin-nav button {
  display: block;
  width: 100%;
  padding: 10px;
  border: 1px solid;
  border-radius: 4px;
  cursor: pointer;
}


.admin-nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
}

.admin-nav li:last-child {
  margin-right: 0;
}
.admin-nav li {
  margin-right: 10px;
}
.admin-nav li a {
  text-decoration: none;
  color: #333;
  font-weight: bold;
  display: inline;
}


/* 
#flight-div {
  display: flex;
  justify-content: center;
  align-items: center;
}

#flight-p {
  border-radius: 15px;
  background: lightcoral;
  padding: 20px; 
  width: 40%;
  height: 200px;
  text-align: justify;
}

#flight-p li{
  margin:5px;
} */

/* #flight-div {
  display: flex;
  justify-content: center;
  align-items: center;
}

#flight-p {
  border-radius: 15px;
  background: #f5f5f5;
  padding: 20px;
  width: 40%;
  height: auto;
  text-align: justify;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

#flight-p ul {
  list-style-type: none;
  padding: 0;
}

#flight-p li {
  margin: 5px 0;
}

#flight-p li:first-child {
  font-weight: bold;
  font-size: 18px;
  color: #333;
}

#flight-p li span {
  font-weight: normal;
  color: #666;
} */

.instance-card {
  /* display: grid; */
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 20px;
  border: 1px solid #2d92b4;
  border-radius: 8px;
  padding: 20px;
  background-color: #f9f9f9;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width:600px;
  margin:20px auto;
  display: flex;
  align-items: center;
  justify-content: center;
}



.left-info {
  display: flex;
  flex-direction: column;
}

.center-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}

.airline-name {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
}



.departure-info {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.time-label {
  font-weight: bold;
}

.time-value {
  font-size: 16px;
}

.date-value {
  font-size: 14px;
  color: #888;
}

.origin-country {
  margin-top: auto;
}

.right-info {
  display: flex;
  flex-direction: column;
}

.flight-destination {
  margin-bottom: 10px;
}

.destination-label {
  font-weight: bold;
}

.destination-value {
  font-size: 16px;
}

.arrival-info {
  display: flex;
  flex-direction: column;
}

.flight-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.instance-err-msg {
  text-align: center;
}


.form-card {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f8f8f8;
  border-radius: 4px;
}

.form-group {
  display:flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 20px;
}

label {
  font-weight: bold;
  margin-bottom: 5px;
  margin-right: 5px;
}

input[type="text"],
input[type="email"],
input[type="password"] {
  flex: 1;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.form-card button {
  display: block;
  width: 100%;
  padding: 10px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}


.header-flights {
  text-align: left;
  background-color: #990a08;
  height:60px;
  font-size: 50px;
  font-weight: bold;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color:white;
}


.country-select {
  padding:8px;
  border:1px solid;
  border-radius: 4px;
  font-size: 16px;
  margin:5px;
}

.search-button{
  padding: 10px;
  background-color: white;
  color: black;
  border: 1px solid;
  border-radius: 4px;
  cursor: pointer;
}

.search-button:hover{
  background-color: #f8e5e5;
}


label {
  font-size: 16px;
  font-weight: bold;
  margin: 10px;
}


/* Add any additional styles or modifications as needed */








